//elements
h1, h2, h3, h4, h5, h6 {
	font-family: Verdana;
	font-weight: bold;
	text-shadow: 0 0 4px #fff, 0 0 8px #fff, 0 0 15px #f0f, 0 0 22px #f0f;

	&h1 {
		font-size: 56px;
		margin-bottom: 56px;
	}

	&h2 {
		font-size: 46px;
		margin-bottom: 46px;
	}

	&h3 {
		font-size: 40px;
		margin-bottom: 40px;
	}

	&h4 {
		font-size: 36px;
		margin-bottom: 36px;
	}

	&h5 {
		font-size: 32px;
		margin-bottom: 32px;
	}

	&h6 {
		font-size: 28px;
		margin-bottom: 28px;
	}
}

img.mdi-button {
	cursor: pointer;
	filter: invert(100%) drop-shadow(0px 0px 12vh #0ff8);
	height: 5vh;
	width: 5vh;

	&:hover {
		filter: drop-shadow(0px 0px 12vh #2fff);
	}

	&:active {
		filter: drop-shadow(0px 0px 12vh #f0ff);
	}
}

mapbutton {
	height: 440px;
}

textentry {
	background: #0007;
	border: 4px solid #0005;
	border-radius: 10px;
}

//classes
.align-right {
	flex-grow: 1;
	overflow: hidden;
	//position: absolute;
}

.button {
	cursor: pointer;
	font-family: Verdana;
	font-size: 28px;
	font-weight: bold;
	margin-bottom: 24px;
	margin-right: auto;
	text-shadow: 0 0 4px #fff, 0 0 15px #0ff;
	text-transform: uppercase;

	&.center {
		margin-right: 0;
	}

	&:hover {
		text-shadow: 0 0 4px #fff, 0 0 8px #fff, 0 0 15px #0ff, 0 0 22px #0ff;
	}

	&:active {
		text-shadow: 0 0 4px #fff, 0 0 8px #fff, 0 0 15px #f0f, 0 0 22px #f0f;
	}

	&:last-child {
		margin-bottom: 0;
	}
}

.columned {
	flex-direction: column;
}

.game-main-menu {
	background-image: url( "menu/gameplay.webm" );
	background-size: cover;
	color: white;
	flex-direction: column;
	font-size: 25px;
	height: 100%;
	opacity: 1;
	position: absolute;
	transition: opacity 1s ease-out;
	transition: transform 0.65s ease-out;
	width: 100%; //for the animtion

	&.ingame {
		background-color: #0003;
		background-image: none;
	}

	&:intro {
		opacity: 0;
		transform: translateY( -100% );
	}

	.navigator-canvas {
		backdrop-filter: blur( 10px );
		backdrop-filter: brightness( 0.3 );
		flex-grow: 1;
		flex-shrink: 0;
		height: 100%;
		opacity: 1;
		width: 100%;

		.navigator-body {
			flex-direction: column;
			height: 100%;
			left: 0;
			padding: 100px;
			position: absolute;
			top: 0;
			width: 100%;
		}
	}
}

.game-title {
	font-family: ClockBlockers;
	font-size: 72px;
	opacity: 1;
	text-transform: uppercase;

	.glow {
		left: 0;
		margin: 0;
		position: absolute;
		text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 15px #f0f, 0 0 22px #f0f;
		top: 0;
	}
}

.hidden {
	display: none;
}

.navigation-bar {
	flex-shrink: 0;

	.home-button {
		margin-right: 2.5vh;
	}
}

.root-browser {
	flex-direction: column;

	.simple-container {
		.session-list {
			flex-direction: column;
			flex-grow: 1;
			flex-shrink: 1;
			margin-bottom: 78px; //.button's font + 50px
			overflow: hidden;
		}
	}
}

.root-create {
	position: relative;

	.simple-container {
		.pair {
			.align-right {
				padding-left: 50px;

				.setting {
					padding-top: 50px;
				}
			}
		}
	}
}

.root-front {
	.buttons {
		flex-direction: column;
		margin: 56px 16px;

		spacer {
			height: 56px;
		}
	}
}

.simple-container {
	flex-direction: column;
	height: 100%;
	position: relative;
	width: 100%;

	.footer {
		bottom: 0;
		justify-content: center;
		position: absolute;
		width: 100%;
	}
}