.gamemainmenu {
	background-color: #000;
	background-image: url( "menu/gameplay.webm" );
	color: white;
	flex-direction: column;
	font-size: 25px;
	height: 100vh;
	opacity: 1;
	position: absolute;
	transition: opacity 1s ease-out;
	transition: transform 0.65s ease-out;
	width: 200vw; //for the animtion

	&:intro {
		opacity: 0;
		transform: translateX( -100vw );
	}

	&.ingame {
		background-color: #151313ee;
	}

	.navigator-canvas {
		backdrop-filter: blur( 10px );
		backdrop-filter: brightness( 0.3 );
		flex-grow: 1;
		flex-shrink: 0;
		opacity: 1;
		height: 100vh;
		width: 100vw;

		.navigator-body {
			flex-direction: column;
			height: 100vh;
			left: 0;
			padding: 100px;
			position: absolute;
			top: 0;
			width: 100vw;
		}
	}
}

.game-title {
	font-family: ClockBlockers;
	font-size: 72px;
	opacity: 1;
	text-transform: uppercase;

	.glow {
		left: 0;
		margin: 0;
		position: absolute;
		text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 15px #f0f, 0 0 22px #f0f;
		top: 0;
	}
}

.root-front {
	.buttons {
		flex-direction: column;
		flex-grow: 1;
		flex-shrink: 0;
		margin: 56px 16px;

		a {
			cursor: pointer;
			font-family: Verdana;
			font-size: 28px;
			font-weight: bold;
			margin-bottom: 24px;
			text-transform: uppercase;

			text-shadow: 0 0 4px #fff, 0 0 15px #0ff;

			&:hover {
				text-shadow: 0 0 4px #fff, 0 0 8px #fff, 0 0 15px #0ff, 0 0 22px #0ff;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}

		spacer {
			height: 56px;
		}
	}
}