hud {
	color: white;
	font-family: Roboto;
	position: relative;

	.crosshair {
		margin: auto;
	}

	.header {
		flex-direction: column;
		position: absolute;
		text-align: center;
		top: 0;
		width: 100%;
	}

	.health {
		bottom: 2vh;
		left: 2vh;
		position: absolute;

		label {
			margin-right: 10px;

			&:last-child {
				margin-right: 0;
			}
		}
	}
}
