@using Sandbox;
@using Sandbox.MenuSystem;
@using Sandbox.UI;
@using Sandbox.UI.GameMenu;
@using System

@namespace ClockBlockers.UI
@inherits RootPanel
@attribute [StyleSheet]

<root>
	<ChatBox/>
	<VoiceList/>

	<div @ref="HealthPanel" class="health">
		<label>Health</label>
		<label @ref="HealthLabel">set me please!</label>
	</div>

	<div @ref="CrosshairPanel" class="crosshair">
		X
	</div>

	<div @ref="TimerPanel" class="header">
		<label>Timer or something</label>
		<label @ref="TimerLabel">set me please!</label>
	</div>
</root>

@code {
	public Label HealthLabel;
	public Label TimerPanel;
	public Panel CrosshairPanel;
	public Panel HealthPanel;
	public Panel TimerLabel;
}