@using System
@using Sandbox;
@using Sandbox.MenuSystem;
@using Sandbox.UI;

@namespace ClockBlockers.UI.GameMenu

<root class="root-front">
	<div class="game-title">
		@Game.Menu.Package.Title
		<div class="glow">
			@Game.Menu.Package.Title
		</div>
	</div>
	<div class="buttons">
		@if ( Game.InGame ) {
			<a class="button" href="/active">Current Game</a>
			<p class="button" onclick=@LeaveGame>Leave Game</p>
			<spacer></spacer>
		} else {<a class="button" href="/create">Create Game</a>}
		<a class="button" href="/sessions">Browse Sessions</a>
		<spacer></spacer>
		<p class="button" @onclick=@Game.Menu.Close>Quit</p>
	</div>
</root>

@code {
	void LeaveGame() {
		Game.Menu.LeaveServer("Leaving");
	}
}