@using System
@using Sandbox;
@using Sandbox.MenuSystem;
@using Sandbox.UI;

@namespace ClockBlockers.UI.GameMenu

<root class="root-front">
	<div class="game-title">
		@Game.Menu.Package.Title
		<div class="glow">
			@Game.Menu.Package.Title
		</div>
	</div>
	<div class="buttons">
		<a>Start Session</a>
		<a>Browse Sessions</a>
		<spacer></spacer>
		<a>Quit</a>
	</div>
</root>