@using System
@using Sandbox;
@using Sandbox.MenuSystem;
@using Sandbox.UI;

@namespace ClockBlockers.UI.GameMenu

<root class="root-front">
	<div class="game-title">
		@Game.Menu.Package.Title
		<div class="glow">
			@Game.Menu.Package.Title
		</div>
	</div>
	<div class="buttons">
		@if ( Game.InGame )
		{
			<a href="/active">Current Game</a>
			<a onclick=@LeaveGame>Leave Game</a>
			<spacer></spacer>
		}
		else
		{
			<a href="/create">Create Game</a>
		}
		<a>Browse Sessions</a>
		<spacer></spacer>
		<a @onclick=@Game.Menu.Close>Quit</a>
	</div>
</root>

@code {
	void LeaveGame() {
		Game.Menu.LeaveServer("Leaving");
	}
}